[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "*"
pillow = "*"
tksheet = "*"
pint = "*"
rpd-generator = {file = ".", editable = true}
jsonschema = "*"
jsonpath-ng = "*"
ctktooltip = "*"

[dev-packages]
pytest = "*"
black = "*"
xlsxwriter = "*"
pre-commit = "*"
rpdvalidator = "*"

[requires]
python_version = "3.11"
pip_version = ">=23.0"
