[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "*"
pillow = "*"
tksheet = "*"
pint = "*"
pip = "==23.3"
rpd-generator = {file = ".", editable = true}
jsonschema = "*"
jsonpath-ng = "*"
ctktooltip = "*"

[dev-packages]
pytest = "*"
black = "*"
xlsxwriter = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
