[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "*"
pillow = "*"
tksheet = "*"
jsonpath2 = "*"
pint = "*"
pip = "==23.2"
jsonschema = "*"

[dev-packages]
pytest = "*"
black = "*"
xlsxwriter = "*"
jsonschema = "*"

[requires]
python_version = "3.11"
